*{
box-sizing: border-box;
padding: 0px;
margin: 0px;
}

body {
    background-color: #f7f7f5;
    font-family: Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    color: #111;
}


.wordsBtns{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-bottom: 30px;
    text-align: center;   
    
}

.btn:hover{
    cursor: pointer;
}

.words{
    border: solid #EFEFE6; 
    height: 50px;
    width: 150px;
    padding: 20px;
    background-color: #EFEFE6;
    text-align: center;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 700;
    
}


.btn{
    height: 70px;
    width: 150px;
    justify-content: center;
    margin: 2PX;
    border-radius: 10px;
}

.actionBtns{
    border-radius: 30px;
    height: 50px;
}

h1{
    font-size: 64px;
    margin-bottom: 30px;
}

h2{
    font-size: 24px;
    margin-bottom: 30px;
    
}

.attempts{
    display: flex;
    gap: 5px;
    align-items:baseline;
    
}
.attempt{
    width: 15px;
    height: 15px;
    background-color: black;
    border-radius: 50%;
    margin-left: 10px;
}


.usedAttempt{
     width: 0px;
    height: 0px;
    background-color: black;
    border-radius: 50%;
    margin-left: 10px;
}


/* .isCorrect{
    border: solid #F9DF6D; 
    background-color: #F9DF6D;
} */

.selected{
    background-color: #5A594E;
        border-color: #5A594E;
}

.not-selected{
    background-color: #EFEFE6;
    border-color: #EFEFE6;
}


.clickable{

}

.unclickable{

}


.difficulty-1{
    background-color: #F9DF6D;
        border-color: #F9DF6D;

}

.difficulty-2{
    background-color: #A0C35A;
        border-color: #A0C35A;

}

.difficulty-3{
    background-color: #B0C4EF;
        border-color: #B0C4EF;

}

.difficulty-4{
    background-color: #BA81C5;
        border-color: #BA81C5;

}



/* 
// colors
yellow #F9DF6D
green #A0C35A
blue #B0C4EF
purple #BA81C5 */