*{
box-sizing: border-box;
padding: 0px;
margin: 0px;
}

body{
    align-items: center;
}


.wordsBtns{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.btn:hover{
    cursor: pointer;
}

.words{
    border: solid #EFEFE6; 
    height: 50px;
    width: 150px;
    padding: 20px;
    margin: 5px;
    background-color: #EFEFE6;
    text-align: center;
    color: black;
    display: flex;
    
}


.btn{
    height: 50px;
    width: 150px;
    justify-content: center;
    margin: 2PX;
    border-radius: 10px;
}

.actionBtns{
    border-radius: 30px;
}